body {
    margin: 0;
}

.connected {
    text-align: center;
    font-size: 1.5rem;
}

#users-list {
    list-style: none;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0 30%;
}

.commentator {
    position: absolute;
    left: 77%;
    top: 3%;
}

#textWrapper {
    text-align: center;
    margin: 100px;
    font-size: 2rem
}

#countdown {
    text-align: right;
    margin-top: 30px;
    margin-right: 20px;
    opacity: 0.6;
    font-style: italic;
    font-size: 1.5rem;
}

.textInputWrapper {
    text-align: center;
}

#inputFild {
    visibility: visible;
    font-size: 1rem;
    outline: none;
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login-form input {
    width: 180px;
    margin-bottom: 0.6rem;
    padding: 5px 4px;
    border: 1px solid;
    font-size: 0.8rem;
}

.success {
    background: green;
    color: white;
}

.failure {
    background: red;
    color: white;
}

.winner {
    background: green;
    color: white;
}

.btn-wrapper {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background: gainsboro;
    font-size: 1rem;
    padding: 4px 40px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
}

/* Commentator monolog */
.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
  }
  
  .tip-up {
    top: -25px; /* Same as body margin top + border */
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  
  .tip-down {
    bottom: -25px;
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .tip-right {
    top: 10px;
    right: -25px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .dialogbox .body {
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: #DADADA;
    border-radius: 3px;
    border: 5px solid #ccc;
  }
  
  .body .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: #797979;
  }

#bar {
    width: 120px;
    vertical-align: bottom;
    position: relative;
}

#bar:before {
    content: attr(value);
    font-size: 0.8rem;
    position: absolute;
    top: -4px;
    left: 46px;
}